<h3 style="width: 50%; text-align: center"> Articles </h3>

<strong><%= link_to 'New Article', new_article_path %></strong>
</br></br>
<table style="width:50%">
  <tr>
    <th style="width:30%; text-align:left;">Title</th>
    <th style="width: 50%; text-align: center;">Text</th>
    <th colspan="2">Action</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td style="word-wrap: break-word"><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>